<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>spesa</display-name>
  <welcome-file-list>
    <welcome-file>/JSPs/renderIndex.jsp</welcome-file>
    <welcome-file>/JSPs/harcodedInvoice.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>spesa</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spesa</servlet-name>
    <url-pattern>/all/*</url-pattern>
  </servlet-mapping>
  
   <!-- Configurations for the root application context (parent context) -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spesa-servlet.xml
        </param-value>
    </context-param>
</web-app>